<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a class="link" href="/">< Back</a>
    <h1><%= title %></h1>
    <p>List of boxes : </p>

    <% if (list != null){ %>
      <p><%= list %></p>
    <%}%>

  </body>
</html>
